body{
    background-image: url('https://static.codemao.cn/pickduck/Sk1vWCbc0.jpg')!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;
    font-size: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
a{color:#39c5bb;   
    text-decoration:none;
    }

#terminal {
  overflow-y:auto;
  margin: auto;
  max-height:475px;
  max-width: 720px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
  font-family: "Courier New", Courier, monospace;  
  background-color: #00000094;  
  color: #fff;  
  padding: 10px;  
  align-items: start;
  border-radius: 15px;
  border:2px solid #39c5bb
}


#terminal::-webkit-scrollbar {
  display: none;
}

#input{margin-left: 10px; margin-top: 5px; margin-bottom: 5px;}


@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
#cursor {
  animation: blink 1s steps(1) infinite;
}