body{
    background-image: url(https://picdl.sunbangyan.cn/2024/02/08/0477887e800ff48bfff6eb7ca4754557.jpeg)!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    font-size: 100%;
  }
a{color:black;
    text-decoration:none;
    }